<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>В стоимость операции входит наркоз и нахождение 1 сутки в стационаре с питанием.</p>
<table>
    <tr>
        <td>Ринопластика (пластика наружного носа) "открытая"</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <td>Ринопластика "закрытая"</td>
        <td>140 тысяч рублей</td>
    </tr>
    <tr>
        <td>Риносептопластика (пластика наружного носа и перегородки носа)</td>
        <td>120 тысяч рублей</td>
    </tr>
    <tr>
        <td>Септопластика  (пластика перегородки носа)</td>
        <td>80 тысяч рублей</td>
    </tr>
    <tr>
        <td>Вторичная(повторная) ринопластика</td>
        <td>160-220 тысяч рублей, в зависимости от сложности.</td>
    </tr>
    <tr>
        <td>Коррекция ноздрей</td>
        <td>20 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Эндоскопический лобно-височный лифтинг (подтяжка лба)</td>
        <td>120тыс рублей</td>
    </tr>
    <tr>
        <td>Эндоскопическая подтяжка средней зоны лица</td>
        <td>150 тысяч рублей</td>
    </tr>
    <tr>
        <td>Височный лифтинг</td>
        <td>80 тысяч рублей</td>
    </tr>
    <tr>
        <td>SMAS подтяжка 2/3 лица и шеи</td>
        <td>160 тысяч рублей</td>
    </tr>
    <tr>
        <td>Платизмопластика</td>
        <td>40 тысяч рублей</td>
    </tr>
    <tr>
        <td>Классическая подтяжка лба</td>
        <td>110 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Блефаропластика круговая</td>
        <td>70 тысяч рублей</td>
    </tr>
    <tr>
        <td>Блефаропластика верхняя</td>
        <td>35 тысяч рублей</td>
    </tr>
    <tr>
        <td>Блефаропластика нижняя</td>
        <td>45 тыс рублей</td>
    </tr>
    <tr>
        <td>Трансконьюктивальная блефаропластика</td>
        <td>70 тыс рублей</td>
    </tr>
    <tr>
        <td>Европеизация век</td>
        <td>50 тыс рублей</td>
    </tr>
    <tr>
        <th colspan="2">Отопластика</th>
    </tr>
    <tr>
        <td>1категория</td>
        <td>40 тысяч рублей</td>
    </tr>
    <tr>
        <td>2категория</td>
        <td>60 тыс рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Пластика мочки уха</td>
        <td>25 тыс рублей</td>
    </tr>
    <tr>
        <td>Удаление комков Биша</td>
        <td>40 тыс рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Пластика губ (Булхорн)</td>
        <td>40 тысяч рублей</td>
    </tr>
    <tr>
        <td>Пластика губ VY пластика</td>
        <td>30 тысяч рублей</td>
    </tr>
    <tr>
        <td colspan="2">Пластика подбородка</td>
    </tr>
    <tr>
        <td>Установка имплантата</td>
        <td>80 тыс рублей (без стоимости имплантата)</td>
    </tr>
    <tr>
        <td>Костная пластика (увеличение подбородка своими тканями)</td>
        <td>120 тыс рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Хондроларингопластика</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Увеличение скуловых областей с помощью имплантатов</td>
        <td>100 тыс (без стоимости имплантата)</td>
    </tr>
    <tr>
        <td>Увеличение углов нижней челюсти с помощью имплантатов</td>
        <td>120 тыс рублей (без стоимости имплантата)</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Липосакция 1 зоны</td>
        <td>15 тысяч рублей (без стоимости наркоза)</td>
    </tr>
    <tr>
        <td>Липосакция подподбородочной области</td>
        <td>30 тысяч рублей</td>
    </tr>
    <tr>
        <td>Липофилинг груди</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <td>Липофилинг ягодиц</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <td>Липоскульптурирование</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <td>Липофилинг лица</td>
        <td>80 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Эндопротезирование молочных желез (увеличение груди)</td>
        <td>80 тыс рублей (без стоимости имплантатов)</td>
    </tr>
    <tr>
        <td>Круглые имплантаты</td>
        <td>27.000р</td>
    </tr>
    <tr>
        <td>Анатомические имплантаты</td>
        <td>37.000р</td>
    </tr>
    <tr>
        <th colspan="2">Абдоминопластика</th>
    </tr>
    <tr>
        <td>1 категория</td>
        <td>150 тысяч рублей</td>
    </tr>
    <tr>
        <td>2 категория</td>
        <td>200 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Брахиопластика</td>
        <td>100 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Пластика рубцов</td>
        <td>30 тысяч рублей (до 5 см.)</td>
    </tr>
    <tr>
        <th colspan="2">Удаление новообразований</th>
    </tr>
    <tr>
        <td>до 0,5 см</td>
        <td>5000 р</td>
    </tr>
    <tr>
        <td>до 1см</td>
        <td>12 тыс. рублей</td>
    </tr>
    <tr>
        <td>больше 1 см</td>
        <td>20 тысяч рублей</td>
    </tr>
    <tr>
        <th colspan="2">&nbsp;</th>
    </tr>
    <tr>
        <td>Инъекции ботулотоксина - 1 ед.</td>
        <td>  -200 рублей.
        </td>
    </tr>
</table>


</body>
</html>